@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.h1 {
  @apply text-6xl xl:text-[72px] xl:leading-[80px] tracking-[-2px] font-bold;
}
.subtitle {
  @apply text-muted-foreground text-sm mb-8 font-light;
}
.section-title {
  @apply text-4xl font-bold relative w-max flex items-center justify-between gap-x-3 before:bg-dots before:bg-no-repeat before:bg-center before:w-[24px] before:h-[24px];
}

.badge {
  @apply z-10 w-[200px] h-[68px] bg-white shadow-2xl p-4 rounded-[10px] flex items-center gap-x-4;
}

/* swiper bullets styles */
.swiper-horizontal > .section-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  @apply bg-basic;
}

/** Loading Animation */
.open1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 10000;
}
.open1 .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: top;
  animation: open 1s ease-in-out forwards;
}
.open1 .layer:nth-child(1) {
  background: #000;
  z-index: 2;
}
.open1 .layer:nth-child(2) {
  background: #eeae1aab;
  animation-delay: 1s;
  z-index: 1;
}

@keyframes open {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}
/** Browser */
.project {
  width: 90%;
  height: 60vh;
  margin: 20px 10px;
  border: 2px solid rgb(243, 242, 242);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}
.project-browser {
  height: 30px;
  background-color: rgb(243, 242, 242);
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}
.project-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 5px;
  /* background-color: white; */
}
.project-circle:nth-child(1) {
  background-color: red;
}
.project-circle:nth-child(2) {
  background-color: yellow;
}
.project-circle:nth-child(3) {
  background-color: green;
}
.project-img {
  width: 100%;
  transition: all 10s ease;
}
.project:hover .project-img {
  transform: translateY(-100%);
}
.project-img {
  width: 100%;
  transition: all 10s ease;
}
.project:hover .project-img {
  transform: translateY(-100%);
}
